body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-size:18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  width: 20em;
  border-radius: 15px;
  color:grey;
  align-items: center;
}

.row button{
  opacity:0%
}

.row:hover button{
  opacity: 65%;
}

.icons {
  padding-left: 0.5em;
  background: none;
	color: inherit;
	border: none;
  font: inherit;
	cursor: pointer;
	outline: inherit;
}

.strike {
  text-decoration: line-through;
  color: black;
}
.normal {
  text-decoration: none;
}
.inputField {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: inherit;
  font-size: 18px;
  font-weight: bold;
  color: grey;
}

.inputField:focus {
  outline: none;
}

.submit{
  padding-top:1em;
  background: none;
	color: darkslategray;
	border: none;
  font: inherit;
	cursor: pointer;
	outline: inherit;
  font-weight: bold;
}

.searchbox-wrap{
  display: grid;
}
.searchbox-wrap{
  font-size: 18px;
}
